<div class="container">
  <div class="col-md-8">
    <div class="welcome-text">
      <h1>Welcome to e-Doctor</h1><br><br>
      <p>There are many doctors around you, and without e-Doctor it will be very difficult for you to reach them.</p><br><br>
      <p>But with e-Doctor, you are able to do the following:</p>
      <ul>
          <li>Locate doctors that are close to you.</li>
          <li>Book appointment.</li>
          <li>Diagnose symptoms.</li>
      </ul>
      <p class="join">What are you waiting for?  <span><a routerLink='/register'>Sign up</a> now!</span></p>
      <p class="join"> Already a member? <span><a routerLink='/login'>Sign in</a> now!</span></p>
      <br>
      <br>
    </div>
  </div>
</div>
