body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Poppins';
}

.logo-link{
    font-size: 35px;
    font-weight: bold;
    text-decoration: none!important;
    border-color: rgb(28, 28, 255);
    border-style: solid;
    padding: 11px;
    border-radius: 35px;
}

.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none!important;
    border-color: rgb(129, 125, 125);
    border-style: solid;
    padding: 5px;
    border-radius: 35px;
    margin-right: 50px;

}

.searchbox{
    background-color: rgb(61, 58, 58);
}

.nav-item{
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
    margin-top: 10.5px;
    position:static;
    float: right;
}








