<div class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
  <ul class="navbar-nav">
    <a class="navbar-brand" routerLink=""
      ><span><img src="./assets/images/doctor.png" width="50px" /></span>&nbsp;
      e-Doctor</a
    >

    <li class="nav-item">
      <a class="nav-link" routerLink="">Home</a>
    </li>

    <li class="nav-item" *ngIf="loggedIn">
      <a class="nav-link" routerLink="/appointments">Appointments</a>
    </li>

    <!-- add *ngif below: -->
    <li class="nav-item" *ngIf="loggedIn">
      <a class="nav-link" routerLink="/specialists">Specialists</a>
    </li>

    <li class="nav-item" *ngIf="loggedIn">
      <a class="nav-link" routerLink="/diagnosis">Diagnosis</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/pricing">Pricing</a>
    </li>

    <li class="nav-item" *ngIf="!loggedIn">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>

    <li class="nav-item" *ngIf="!loggedIn">
      <a class="nav-link" routerLink="/register">Register</a>
    </li>

    <li class="nav-item" *ngIf="!loggedIn">
      <a class="nav-link" routerLink="/registersector">Sector Registration</a>
    </li>
  </ul>
</div>
