<div class="w3-container">
  <div class="row">
    <div style="padding: 20px">
      <div style="font-weight: bold; text-align: center; font-size: 30px">
        <p>Appointments</p>
        <hr />
      </div>
      <div class="appointments">
        <div style="text-align: center">
          <p style="font-weight: bold; font-size: 23px">Mbhoni Makhubele</p>
          <img src="./assets/images/call.png" style="width: 12%" /><br /><br />
          <p style="font-weight: bold;"><a href="tel:+4733378901">073 929 3305</a></p>
          <img src="./assets/images/time.png" style="width: 12%" /><br /><br />
          <p style="font-weight: bold; font-size: 15px">
            10 January 2021 | 13:00:00
          </p>

          <p>
            <span style="font-weight: bolder">Description:</span> I am having
            headache almost every day
          </p>
          <p style="font-weight: bolder">Appointment await response</p>
        </div>
        <div style="text-align: center">
          <!-- <input class="buttons" value="Cancel" type="submit" />&nbsp;&nbsp;
          <input class="buttons" value="Direction" type="submit" /> -->
          <hr />
          <a href=""
            ><img
              src="./assets/images/cancel.svg"
              alt="Cancel"
              style="width: 10%" /></a
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href=""
            ><img
              src="./assets/images/approval.png"
              alt="Approve"
              style="width: 12.3%"
          /></a>
          <br />
          <!-- <br> -->
        </div>
      </div>
    </div>
  </div>
</div>
