<div class="container">
  <div class="row">
    <div>
      <div class="application-form">
        <form #form="ngForm">
          <div>
            <div>
              <p style="font-weight: bold; font-size: 28px">
                {{ sector_Name }}
              </p>
            </div>
            <p style="font-size: large">Date:</p>
            <input
              type="date"
              name="date"
              class="form-control datepicker"
              ngModel
              min="{{ minDate }}"
              [(ngModel)]="slotDate"
            />
            <br />
            <p style="font-size: large">Choose Slot:</p>
            <div class="slots">
              <a
                class="slot"
                *ngFor="let slot of filtered_Slots"
                (click)="SelectSlot(slot.time)"
              >
                {{ slot.time }}
              </a>

              <span style="color: red" class="help-block" *ngIf="!SlotChoosen"
                >Please select time slot!</span
              >
            </div>
            <!-- <br /> -->

            <p
              *ngIf="choosenSlot !== '...'"
              style="font-weight: bolder; font-size: larger"
            >
              Choosen Slot: {{ choosenSlot }}
            </p>
            <p style="font: large">Reason for visit:</p>
            <div class="description">
              <textarea
                class="form-control"
                name="reason"
                #name="ngModel"
                ngModel
                required
                [class.is-invalid]="(!name.valid && name.touched) || !formValid"
              ></textarea>
              <span
                style="color: red"
                class="help-block"
                *ngIf="(!name.valid && name.touched) || !formValid"
                >Required field!</span
              >
            </div>
            <br />
            <div style="text-align: center">
              <a class="book-appointment" (click)="Submit(form)"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Book
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
              >
            </div>
            <br />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
