.container {
  margin: 0%;
}

.application-form {
  background-color: white;
  width: 28vw;
  padding: 2.8%;
  height: auto;
  
}

.slot {
  padding: 9px;
  border-color: #343b3b;
  border-style: solid;
  color: #343b3b;
  border-radius: 2.5px;
  font-weight: bold;
  width: 10vw;
  text-align: center;
  margin-bottom: 20px;
}

.slot:hover {
  background-color: #343b3b;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}
// .datepicker{
//   width: 50%;
// }

// #343b3b


.book-appointment {
  border-style: solid;
  border-color: #343b3b;
  color: #343b3b;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 1.5px;
  font-weight: bolder;
}

.book-appointment:hover {
  background-color: #343b3b;
  color: white;
}

.slots {
  display: grid;
  grid-template-columns: auto auto;
}
