<div class="w3-container">
  <div class="row">
    <div style="padding: 20px">
      <div style="font-weight: bold; text-align: center; font-size: 30px">
        <p>Appointments</p>
        <hr />
      </div>
      <div class="appointments" *ngFor="let appointment of appointment_Arr">
        <div style="text-align: center">
          <p style="font-weight: bold; font-size: 23px">
            {{ appointment.sector_name }}
          </p>
          <img src="./assets/images/time.png" style="width: 12%" /><br /><br />
          <p style="font-weight: bold; font-size: 15px">
            {{appointment.getDate()}} | {{appointment.getTime()}}
          </p>

          <img
            src="./assets/images/address.png"
            style="width: 12%"
          /><br /><br />
          <p style="font-weight: bold; font-size: 14px">
            {{ appointment.address }}
          </p>
          <p>
            <span style="font-weight: bolder">Description:</span>
            {{ appointment.Description }}
          </p>
          <p style="font-weight: bolder">Appointment await aproval</p>
        </div>
        <div style="text-align: center">
          <!-- <input class="buttons" value="Cancel" type="submit" />&nbsp;&nbsp;
          <input class="buttons" value="Direction" type="submit" /> -->
          <hr />
          <a href=""
            ><img
              src="./assets/images/cancel.svg"
              alt="Cancel appointment"
              style="width: 10%" /></a
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href=""
            ><img src="./assets/images/direction.png" style="width: 10%"
          /></a>
          <br />
          <!-- <br> -->
        </div>
      </div>
    </div>
  </div>
</div>
