<div class="container">
  <div class="col-md-8 login">
    <span class="registerText">Sector Registration</span><br /><br />
    <form
      action=""
      class="registerForm"
      (ngSubmit)="Register(registerForm)"
      #registerForm="ngForm"
    >
      <label>Name</label><br />
      <input
        type="text"
        class="form-control"
        name="name"
        ngModel
        required
        #name="ngModel"
        [class.is-invalid]="!Name"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="(!name.valid && name.touched) || !Name"
        >Required field!</span
      ><br />

      <label>Founder</label><br />
      <input
        type="text"
        class="form-control"
        name="owner"
        ngModel
        required
        #owner="ngModel"
        [class.is-invalid]="!Ownwer"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="(!owner.valid && owner.touched) || !Ownwer"
        >Required field!</span
      ><br />

      <label>Website</label><br />
      <input
        type="url"
        class="form-control"
        name="website"
        ngModel
        required
        #website="ngModel"
        [class.is-invalid]="!Website"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="(!website.valid && website.touched) || !Website"
        >Required field!</span
      ><br />

      <label>Date found</label><br />
      <input
        type="date"
        class="form-control"
        name="founded"
        ngModel
        required
        #founded="ngModel"
        [class.is-invalid]="!Founded"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="(!founded.valid && founded.touched) || !Founded"
        >Required field!</span
      ><br />

      <label>Business hours</label><br />
      <span>Opening Time:</span>
      <input
        type="time"
        class="form-control"
        name="openTime"
        ngModel
        required
        #openTime="ngModel"
        [class.is-invalid]="!B_Hours_Open"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="(!openTime.valid && openTime.touched) || !B_Hours_Open"
        >Required field!</span
      ><br />
      <span>Closing Time:</span>
      <input
        type="time"
        class="form-control"
        name="closeTime"
        ngModel
        required
        #closeTime="ngModel"
        [class.is-invalid]="!B_Hours_Close"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="(!closeTime.valid && closeTime.touched) || !B_Hours_Close"
        >Required field!</span
      ><br />

      <label>Description</label><br />
      <textarea
        ngModel
        class="form-control"
        name="Description"
        required
        #desc="ngModel"
        [class.is-invalid]="!Description"
      >
      </textarea>
      <span
        style="color: red"
        class="help-block"
        *ngIf="(!desc.valid && desc.touched) || !Description"
        >Required field!</span
      ><br />

      <label>Contact</label><br />
      <input
        type="tel"
        class="form-control"
        name="contact"
        ngModel
        required
        #contact="ngModel"
        [class.is-invalid]="!Contact"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="(!contact.valid && contact.touched) || !Contact"
        >Required field!</span
      >
      <br />

      <label>Email</label><br />
      <input
        type="email"
        class="form-control"
        name="email"
        ngModel
        required
        #email="ngModel"
        email
        [class.is-invalid]="!Email"
      />

      <span
        style="color: red"
        class="help-block"
        *ngIf="(!email.valid && email.touched) || !Email"
        >Invalid email or field is empty!</span
      >
      <br />

      <label>Password</label><br />
      <input
        type="password"
        class="form-control"
        name="password"
        ngModel
        required
        #password="ngModel"
        [class.is-invalid]="!Password || !passwordMatch"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="(!password.valid && password.touched) || !Password"
        >Required field!</span
      >

      <span style="color: red" class="help-block" *ngIf="!passwordMatch">
        Password does not match!</span
      >
      <br />

      <label>Confirm Password</label><br />
      <input
        type="password"
        class="form-control"
        name="confirmpassword"
        ngModel
        required
        #confirmpassword="ngModel"
        [class.is-invalid]="!Confirmpassword || !passwordMatch"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="
          (!confirmpassword.valid && confirmpassword.touched) ||
          !Confirmpassword
        "
        >Required field!</span
      >

      <span style="color: red" class="help-block" *ngIf="!passwordMatch">
        Password does not match!</span
      >
      <br />

      <label>Country</label><br />
      <input
        type="text"
        class="form-control"
        name="country"
        ngModel
        required
        #country="ngModel"
        [class.is-invalid]="!Country"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="(!country.valid && country.touched) || !Country"
        >Required field!</span
      >
      <br />

      <label>Street Address</label><br />
      <input
        type="text"
        class="form-control"
        name="streetaddress"
        ngModel
        required
        #streetaddress="ngModel"
        [class.is-invalid]="!Street_Address"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="
          (!streetaddress.valid && streetaddress.touched) || !Street_Address
        "
        >Required field!</span
      >
      <br />

      <label>Suburb</label><br />
      <input
        type="text"
        class="form-control"
        name="suburb"
        ngModel
        required
        #suburb="ngModel"
        [class.is-invalid]="!Suburb"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="(!suburb.valid && suburb.touched) || !Suburb"
        >Required field!</span
      >
      <br />

      <label>City</label><br />
      <input
        type="text"
        class="form-control"
        name="city"
        ngModel
        required
        #city="ngModel"
        [class.is-invalid]="!City"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="(!city.valid && city.touched) || !City"
        >Required field!</span
      >
      <br />

      <label>Postal Code</label><br />
      <input
        type="text"
        class="form-control"
        name="postalcode"
        ngModel
        required
        #postalcode="ngModel"
        [class.is-invalid]="!Postal_COde"
      />
      <span
        style="color: red"
        class="help-block"
        *ngIf="(!postalcode.valid && postalcode.touched) || !Postal_COde"
        >Required field!</span
      >
      <br />

      <label>Geolocation</label><br />
      <div style="height: 500px; margin-top: 10px;">
        <app-map></app-map>
      </div>

      <br /><br />

      <div *ngIf="registerMonitor" class="login-error">
        <p>{{ registerErrorMessage }}</p>
      </div>

      <input style="top: 500px;" class="LoginBtn" type="submit" value="Register" /><br /><br />

      <!-- [disabled]="!registerForm.valid" -->
      <p style="float: right; margin-right: 10.5%">
        Already have sector registered?
        <span>&nbsp;<a routerLink="/login" class="signup">Sign in</a></span>
      </p>
      <br />
      <br>
    </form>
  </div>
</div>
