<!-- <div class="container">
  <div class="col-md-10" style="background-color: blue;">  
    <div class="links">
      <ul style="list-style-type: none;">
        <li class="nav-item">
          <a class="nav-link">Add Specialist</a>
        </li>

        <li class="nav-item">
          <a class="nav-link">Add Specialist</a>
        </li>
      </ul>
      
    </div>
  </div>
</div> -->

<div class="container">
  <div class="col-md-8" style=" margin-top: 3%; margin-left: 16%;">
    <div class="links">
        <a class="">Add Specialist</a>
        <a class="">Add Specialist</a>
    </div>
    

    <br>
    
  </div>
</div>
