.container {
  a {
    background-color: #343b3b;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 15px;
  }

  a:hover,
  a:active {
    background-color: rgb(196, 192, 192);
    color: #343b3b;
  }

  .links {

    text-align: center;
  }

  a {
      margin-left: 3%;
  }

  * {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #343b3b;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: rgb(196, 192, 192);
  color: #343b3b;;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.specialist-view-sector{
  
}

}


