<!-- <div class="container">
  <div class="col-md-10" style="background-color: blue;">
    <div class="links">
      <ul style="list-style-type: none;">
        <li class="nav-item">
          <a class="nav-link">Add Specialist</a>
        </li>

        <li class="nav-item">
          <a class="nav-link">Add Specialist</a>
        </li>
      </ul>

    </div>
  </div>
</div> -->

<div class="container">
  <div class="col-md-8" style="margin-top: 3%; margin-left: 16%">
    <div class="links">
      <a
        class=""
        (click)="RegisterSpecialist()"
        ngModel
        routerLink="/register"
        *ngIf="userType === 3"
        >Specialist Registration</a
      >
    </div>
    <br />

    <form
      *ngIf="userType === 1"
      class="example"
      action="/action_page.php"
      style="margin: auto; max-width: 80%"
    >
      <input type="text" placeholder="Search.." name="search2" />
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <br />


    <div class="specialist-view-sector">

    </div>
  </div>
</div>
