<div class="container">
  <div class="col-md-8 login">
    <span class="registerText">Sign Up</span><br /><br />
    <form
      action=""
      class="registerForm"
      (ngSubmit)="Register(registerForm)"
      #registerForm="ngForm"
    >
      <label>Name</label><br />
      <input
        type="text"
        class="form-control"
        name="name"
        ngModel
        required
        #name="ngModel"
        [class.is-invalid]="!Name"
      />
      <span style="color: red;" class="help-block" *ngIf="!name.valid && name.touched || !Name"
        >Required field!</span
      ><br />

      <label>Middle name</label><br />
      <input type="text" class="form-control" name="middlename" ngModel />

      <label>Surname</label><br />
      <input
        type="text"
        class="form-control"
        name="surname"
        ngModel
        required
        #surname="ngModel"
        [class.is-invalid]="!Surname"
      />
      <span style="color: red;" class="help-block" *ngIf="!surname.valid && surname.touched || !Surname"
        >Required field!</span
      ><br />

      <label>Contact</label><br />
      <input
        type="tel"
        class="form-control"
        name="contact"
        ngModel
        required
        #contact="ngModel"
        [class.is-invalid]="!Contact"
      />
      <span style="color: red;" class="help-block" *ngIf="!contact.valid && contact.touched || !Contact"
        >Required field!</span
      ><br />

      <label>Date of birth</label><br />
      <input
        type="date"
        class="form-control"
        name="dob"
        ngModel
        required
        #dob="ngModel"
        [class.is-invalid]="!DOB"
      />
      <span style="color: red;" class="help-block" *ngIf="!dob.valid && dob.touched || !DOB"
        >Required field!</span
      ><br />

      <label>Identity number</label><br />
      <input
        type="text"
        class="form-control"
        name="idnumber"
        ngModel
        required
        #idnumber="ngModel"
        [class.is-invalid]="!ID_Number"
      />
      <span style="color: red;" class="help-block" *ngIf="!idnumber.valid && idnumber.touched || !ID_Number"
        >Required field!</span
      ><br />

      <label>Gender</label><br />
      <select
        name="gender"
        id="gender"
        class="form-control gender"
        ngModel
        required
        #gender="ngModel"
        [class.is-invalid]="!Gender"
      >
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      <span style="color: red;" class="help-block" *ngIf="!gender.valid && gender.touched || !Gender"
        >Required field!</span
      ><br />


      <label>Email</label><br />
      <input
        type="email"
        class="form-control"
        name="email"
        ngModel
        required
        #email="ngModel"
        email
        [class.is-invalid]="!Email"
      />
      <span style="color: red;" class="help-block" *ngIf="!email.valid && email.touched || !Email"
        >Required field!</span
      >
      <br />

      <label>Password</label><br />
      <input
        type="password"
        class="form-control"
        name="password"
        ngModel
        minlength="6"
        required
        #password="ngModel"
        [class.is-invalid]="!Password || !passwordMatch"
      />
      <span style="color: red;" class="help-block" *ngIf="!password.valid && password.touched || !Password"
        >Required field!</span
      >

      <span
        style="color: red"
        class="help-block"
        *ngIf="password.errors?.minlength"
      >
        Password must be at least 6 characters long.
      </span>

      <span style="color: red;" class="help-block" *ngIf="!passwordMatch"
        >Password does not match!</span
      >
      <br />


      <label>Confirm Password</label><br />
      <input
        type="password"
        class="form-control"
        name="confirmpassword"
        ngModel
        required
        minlength="6"
        #confirmpassword="ngModel"
        [class.is-invalid]="!ConfirmPassword || !passwordMatch"
      />
      <span style="color: red;" class="help-block" *ngIf="!confirmpassword.valid && confirmpassword.touched || !ConfirmPassword"
        >Required field!</span
      >

      <span
        style="color: red"
        class="help-block"
        *ngIf="confirmpassword.errors?.minlength"
      >
        Password must be at least 6 characters long.
      </span>
      <span style="color: red;" class="help-block" *ngIf="!passwordMatch"
        >Password does not match!</span
      >
      <br />

      <div *ngIf="registerMonitor" class="login-error">
        <p>{{ registerErrorMessage }}</p>
      </div>

      <input class="LoginBtn" type="submit" value="Sign up" /><br /><br />

      <p style="float: right; margin-right: 10.5%">
        Already have account?
        <span>&nbsp;<a routerLink="/login" class="signup">Sign in</a></span>
      </p>
      <br />
    </form>
  </div>
</div>
